#app {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box, .padded-box {
    box-sizing: border-box;
}

.box {
    border: 2px solid black;
}

#app.header {
    width: 100%;
}

#app.content {
    width: 100%;
}

#app.header h1 {
    width: 100%;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

table.boxed-tabled, table.boxed-tabled th, table.boxed-tabled td {
    border: 1px solid black;
}

.padded-box {
    border: 2px solid black;
    margin: 5px;
    padding: 5px;
}